html {
    outline: 2px solid blue;
}

html > * {
    outline: 2px solid deeppink;
}

html > * > * {
    outline: 2px solid lime;
    outline-offset: -2px;
}

html > * > * > * {
    outline: 2px solid dodgerblue;
    /* outline-offset: -4px; */
}

html > * > * > * > * {
    outline: 2px solid yellow;
    outline-offset: -2px;
}

html > * > * > * > * > * {
    outline: 2px solid brown;
    outline-offset: -2px;
}

html > * > * > * > * > * > * {
    outline: 2px solid rgb(36, 9, 9);
    outline-offset: -2px;
}

html > * > * > * > * > * > * > * {
    outline: 2px solid rgb(40, 230, 173);
    outline-offset: -2px;
}

html > * > * > * > * > * > * > * > * {
    outline: 2px solid rgb(122, 40, 230);
    outline-offset: -2px;
}

html > * > * > * > * > * > * > * > * > * {
    outline: 2px solid rgb(88, 77, 45);
    outline-offset: -2px;
}

html > * > * > * > * > * > * > * > * > * > * {
    outline: 2px solid rgb(40, 230, 65);
    outline-offset: -2px;
}