
a {
	transition: all 0.3s;
}

body {
	width: 100%;
	font-size: 14px;
	font-family: "PT Sans", sans-serif;
	text-transform: uppercase;
}

.shadow-wrapper {
	width: 100%;
	max-width: 1200px;
	margin: auto;
	box-shadow: 0 0 5px 0 #34495e;
    /* background-color: #ffffff; */
}

.header {
	width: 100%;
	max-width: 1200px;
	padding: 0;
}

.page-header {
	/* margin: 0 auto; */
	/* padding-bottom: 508px; */
    /* background-image: url('../img/sedona-welcome-background-image.png'); */
    /* background-repeat: no-repeat; */
    /* background-position: top center; */

}

.page-header__navigation {
	/* margin: 0 auto; */
	/* padding: 0; */
	/* background-color: #ffffff; */
}

.header-navigation {
	width: 100%;
	max-width: 1200px;
	display: flex;
	justify-content: space-between;
	position: relative;
}

.header-navigation__list {
	/* margin: 0 auto; */
}

.header-list {
	display: flex;
	justify-content: space-between;
	width: 43%;
	/* max-width: 1200px; */
}

.header-navigation__item {
	width: 49%;
	font-size: 1em;
	text-align: center;
	line-height: 3.5;
	/* display: flex; */
	/* justify-content: center; */
	/* align-items: center; */
}

.header-navigation__logo {
	/* position: absolute; */
	/* top: 0; */
	/* left: 50%; */
	/* transform: translateX(-50%); */
    /* background-image: url('../img/sedona-logo.png'); */
    /* background-repeat: no-repeat; */
    /* background-position: top center; */
}

.header__link--logo {
	position: absolute;
    right: 0;
    bottom: -40px;
    left: 0;
    width: 184px;
    height: 95px;
    margin: auto;
	background-image: url("../img/sedona-logo.svg");
}

.header__link {
	color: #000000;
	font-weight: 700;
	line-height: 1.625em;
}

.header__link:hover {
	color: #81b3d2;
}

.header__link:active {
	color: #000000;
	opacity: 0.2;
}

.header-navigation__link--visited {
	color: #766357;
}

.sedona-welcome--wrapper {
	width: 100%;
	background: url("../img/sedona-main-bg.jpg") no-repeat center;
	background-color: #000000;
}

.sedona-welcome--wrapper--indent {
	padding-top: 75px;
	/* padding-bottom: 90px; */
}

.sedona-welcome__text {
	display: block;
	min-height: 350px;
	background: url("../img/welcome.svg") no-repeat center;
}

.sedona-welcome__text--indent {
	margin-bottom: 10px;
}

.sedona-welcome--wrapper::after {
	content: '';
	display: block;
	width: 100%;
	height: 60px;
	background-color: #ffffff;
	background: url("../img/polygon.svg") center no-repeat;
	background-size: cover;

}

.page-main {
	width: 100%;
	max-width: 1200px;
}

.section {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.main-section {
	/* margin: 0 auto; */
	/* padding: 0; */
}

.main-section-first {
	width: 100%;
	/* max-width: 1200px; */
}

.main-section__wrapper {
	/* margin: 0 auto; */
	padding-top: 4.357em;
	padding-bottom: 4.214em;
}

.features {
	width: 48%;
	/* max-width: 1200px; */
	/* min-height: 216px; */

}

.features__text {
	/* margin: 0 auto; */
	text-align: center;
	font-size: 1em;
	line-height: 26px;
	font-weight: 400;
}

.features__headline {
	/* margin: 0 auto; */
	text-align: center;
	font-size: 1.5em;
	line-height: 26px;
	font-weight: bold;

}

.features__headline--indent {
	margin-bottom: 26px;
}

.main-section-first {
	/* margin: 0 auto; */
	 background: url("../img/sedona-american-flag.jpg") right no-repeat;
}

.feature {
	width: 100%;
	/* margin: 0; */
	/* display: flex; */
	color: #ffffff;

}

.feature-wrapper {
	background-color: #81b3d2;
	width: 33.3333%;
	/* max-width: 400px; */
	/* min-height: 256px; */
	text-align: center;
	/* margin: 0; */
	padding: 3.552em;

}

.feature__headline {
	margin: 0;
	font-size: 1.5em;
	line-height: 21px;
	font-weight: bold;
	/* padding-top: 50px; */
}

.feature__number {
	margin: 0;
	font-size: 1em;
	line-height: 21px;
	font-weight: 400;
	margin-top: 21px;
}

.feature__text {
	margin: 0;
	font-size: 1em;
	line-height: 21px;
	font-weight: 400;
	margin-top: 21px;
}


.main-section-second {
	width: 100%;
	/* max-width: 1200px; */
}

.benefits-list__item--fourth {
	width: 100%;
}

.benefits-list {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}


.benefits-list__item {
	width: 33.3333%;
	/* max-width: 400px; */
	/* min-height: 330px; */
	text-align: center;
}

.benefits-list__item--second {
	padding-top: 11.571em;
	padding-bottom: 6.285em;
}

.benefits-list__item--house {
 	background-image: url('../img/house-icon.svg');
    background-repeat: no-repeat;
    background-position: top 60px center;

}

.benefits-list__item--burger {
	background-image: url('../img/burger-icon.svg');
    background-repeat: no-repeat;
    background-position: top 60px center;
}


.benefits-list__item--gift {
	background-image: url('../img/gift-icon.svg');
    background-repeat: no-repeat;
    background-position: top 57px center;
}

.benefits-list__title {
	font-size: 1.5em;
	line-height: 21px;
	font-weight: bold;
	/* margin: 0; */
}

.benefits-list__text {
	/* margin: 0; */
	font-size: 1em;
	line-height: 21px;
	font-weight: 400;
	margin-top: 23px;
}

.main-section-third {
	/* margin: 0 auto; */
	display: flex;
	flex-direction: row-reverse;
	background-image: url("../img/devil-bridge.jpg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;/* 800px 274px */
}

.benefits-list__title--indent {
	/* margin-top: 48px; */
}

.benefits-list__number--indent {
	margin-top: 25px;

}

.benefits-list__item--fourth {
	/* min-height: 256px; */
	padding-top: 3.571em;
	padding-bottom: 4.642em;
	background-color: #eeeeee;
}

.main-section-fourth {
	width: 100%;
}

.main-section-fifth {
	/* margin: 0 auto; */
}

.booking {
	width: 100%;
	/* max-width: 1200px; */
}

.booking-wrapper {
	text-align: center;
}

.booking__headline {
	font-size: 2.142em;
	line-height: 36px;
	font-weight: bold;
	/* margin: 0; */
	margin-top: 52px;

}

.booking__text {
	font-size: 1em;
	line-height: 24px;
	font-weight: 400;
    /* margin: 0; */
    margin-top: 23px;
}

.booking__button {
	margin-top: 45px;
	padding: 30px 140px;
	background-color: #766357;
	border: none;
	transition: all 0.3s;
}

.booking__button:hover {
	background-color: #604e43;
}

.booking__buton:active {
	background-color: #503e33;
}

.booking__link:active {
	opacity: 0.2;
}

.booking__link {
	color: #ffffff;
	font-size: 1.5em;
	line-height: 26px;
	font-weight: bold;
	text-transform: uppercase;

}

.page-footer {
	/* margin: 0 auto; */
	/* min-height: 593px; */
 /* background-image: url('../img/sedona-map.png'); */
    /* background-repeat: no-repeat; */
    /* background-position: bottom center; */
    /* background-size: 1200px 593px; */
}

.footer {
	width: 100%;
	max-width: 1200px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.footer-wrapper {
	display: flex;
	align-items: center;
	min-height: 120px;
	background-color: rgba(255, 255, 255, 0.9);
}

.footer-hashtag-wrapper {
	width: 100%;
	max-width: 400px;
}

.footer__hashtag {
	margin: 0;
	text-align: center;
	font-size: 1.5em;
	line-height: 26px;
	font-weight: bold;
}

.social-navigation {
	width: 100%;
	max-width: 400px;
}


.social-navigation__list {
	display: flex;
	margin: 0 auto;
	justify-content: space-between;
	width: 100%;
	max-width: 150px;
}

.social-navigation__item {
	width: 46px;
	height: 48px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #81b3d2;
}

.social-navigation__link {
	color: #ffffff;
}


.social-navigation__item:hover {
	background-color: #669ec0;
}

.social-navigation__item:active {
	background-color: #5496bd;
}

.social-navigation__link:active {
	opacity: 0.2;
}




.developer-wrapper {
	width: 100%;
	max-width: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.developer__text {
	font-size: 1em;
	line-height: 26px;
	font-weight: 400;
	margin-right: 10px;
}

.developer__link {
	display: block;
	/* margin-top: 7px; */
	height: 41px;
	width: 115px;

}

.developer__link-svg:hover {
	/* stroke: #90bcd7; */
	fill: #90bcd7;
}

/* почему не меняется заливка цветом? */
/* .developer__academy-logo:hover { */
	/* fill: #81b3d2; */
/* } */


.footer__text {
	margin: 0;
}






/*  */
/* FORM */
/*  */





.modal {
    /* display: none; */
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    max-width: 568px;
    height: 395px;
    max-height: 100%;
    margin: 0 auto;
    padding: 55px;
    position: absolute;
    background-color: #ffffff;
}

.modal__wrapper {
	width: 100%;
	max-width: 458px;
}

.modal__wrapper--indent {
	margin: 0 auto;
}

.modal__label {
	font-size: 1em;
	line-height: 26px;
	font-weight: bold;
}

.modal__input::placeholder {
	color: #000000;
	padding-left: 12px;
	text-transform: uppercase;
}

.modal__form input[type="text"],
.modal__form input[type="number"] {
    border: none;
    background-color: #f2f2f2;  
    font-size: 1em;
	line-height: 26px;
	font-weight: bold; 
}

.modal__form input[type="text"]:hover {
	background-color: #ebebeb;
}

.modal__form input[type="text"]:focus {
	background-color: #ffffff;
	border: 1px solid #ebebeb;
}

.modal__form input[type="text"] {
    width: 346px;
    height: 38px;
    
}

.modal__form input[type="number"] {
    width: 114px;
    height: 38px;
    text-align: center;
    padding-left: 13px;
    padding-top: 4px;
}

.arrival__wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
}

.modal__arrival {
	margin-bottom: 30px;
}

.modal__calendar {
	position: absolute;
	right: 9px;
}

.departure__wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
}

.modal__departure {
	margin-bottom: 30px;
}

.info__wrapper {
	display: flex;
	justify-content: space-between;
}

.adults__wrapper {
	width: 50%;

}

.adults__label {
	margin-right: 37px;
}

.children__label {
	margin-left: 50px;
	margin-right: 22px;
}


.children__wrapper {
	width: 50%;
}

.button__wrapper {
	display: flex;
	justify-content: center;
	margin-top: 54px;
}

.modal__button {
	font-size: 1.5em;
	line-height: 26px;
	font-weight: bold;
	text-transform: uppercase;
    color: #ffffff;
    background-color: #81b3d2;
    width: 458px;
    padding-top: 17px;
    padding-bottom: 17px;
    display: block;
    text-align: center;
    box-sizing: border-box;
    border: none;
}

.button__link {
	color: #ffffff;

}

.modal__button:hover {
	background-color: #669ec0;
}

.modal__button:active {
	background-color: #5496bd;
}

.button__link:active {
	opacity: 0.2;
}

/**/
/**/
/**/
/**/
/*HOTELS STYLES*/
/**/
/**/
/**/
/**/

.filters {
	width: 100%;
	max-width: 1200px;
	height: 100%;
	min-height: 217px;
	 background-image: url('../img/sedona-background-blurred.png');
    background-repeat: no-repeat;
    background-position: top center;
    color: #ffffff;
}

.hotels-filters {
	margin: 0 auto;
	padding: 29px 0;
}

.filters__wrapper {
	margin: 0 auto;
}

.filters__list {
	margin: 0 auto;
	margin-top: 23px;
}

.form__list {
	display: flex;
	flex-direction: column;
	font-size: 1em;
	line-height: 21px;
	font-weight: 400;
}

.form {
	display: flex;
	justify-content: space-between;
	width: 100%;
	max-width: 1056px;
}

.form__legend {
	font-size: 1.142em;
	line-height: 21px;
	font-weight: bold;
}

.form__fieldset {
	padding: 0;
	border: none;
}

.infr-fieldset {
	margin-right: 109px;
}

.form__input {
	font-size: 1em;
	line-height: 21px;
	font-weight: 400;
}

input[type=checkbox],
input[type=radio] {
	display: none;
}

input[type="checkbox"]:checked + label, 
input[type="checkbox"]:not(:checked) + label, 
input[type="radio"]:checked + label, 
input[type="radio"]:not(:checked) + label {
    display: inline-block;
    position: relative;
    padding-left: 28px;
    line-height: 20px;
    cursor: pointer;
}

input[type="checkbox"]:checked + label:before, 
input[type="checkbox"]:not(:checked) + label:before,
input[type="radio"]:checked + label:before, 
input[type="radio"]:not(:checked) + label:before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 18px;
    height: 18px;
    border: 2px solid #ffffff;
    background-color: transparent;
}

input[type="checkbox"]:checked + label:before, 
input[type="checkbox"]:not(:checked) + label:before {
    border-radius: 2px;
}

input[type="radio"]:checked + label:before, 
input[type="radio"]:not(:checked) + label:before {
    border-radius: 100%;
}

input[type="checkbox"]:checked + label:after, 
input[type="checkbox"]:not(:checked) + label:after, 
input[type="radio"]:checked + label:after, 
input[type="radio"]:not(:checked) + label:after {
    content: "";
    position: absolute;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

input[type="checkbox"]:checked + label:after, 
input[type="checkbox"]:not(:checked) + label:after {
    left: 5px;
    top: 4px;
    width: 17px;
    height: 5px;
    border-radius: 1px;
    border-left: 4px solid #ffffff;
    border-bottom: 4px solid #ffffff;
    transform: rotate(-45deg);
}

input[type="radio"]:checked + label:after, 
input[type="radio"]:not(:checked) + label:after {
    left: 5px;
    top: 5px;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #ffffff;
}

input[type="checkbox"]:not(:checked) + label:after, 
input[type="radio"]:not(:checked) + label:after {
    opacity: 0;
}

input[type="checkbox"]:checked + label:after, 
input[type="radio"]:checked + label:after {
    opacity: 1;
}

.form__item {
	padding-bottom: 24px;
}


.hotels__form {
	margin: 0 auto;
}

.fieldset__wrapper {
	display: flex;
	width: 50%;

}

  .filter-range {
	width: 330px;
	color: #ffffff;
	text-transform: uppercase;
  }
  
  .filter-range-title {
	margin-bottom: 9px;
  
	font-weight: 600;
	font-size: 1.142em;
	line-height: 21px;
  }
  
  .price-controls {
	position: relative;
	
	height: 36px;
	margin-bottom: 20px;
	
	font-size: 0;
  
	border: 2px solid #ffffff;
	border-radius: 2px;
  }
  
  .price-controls::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
  
	width: 2px;
	height: 22px;
  
	background: #ffffff;
	transform: translate(-50%, -50%);
  }
  
  .price-controls label {
	display: inline-block;
  
	font-size: 1em;
	outline: 1px solid red;
	line-height: 30px;
	vertical-align: top;
  
	cursor: pointer;
  }
  
  .price-controls .min-price,
  .price-controls .max-price {
	width: 163px;
	
	padding-left: 65px;
  }
  
  .price-controls input {
	width: 50px;
	margin: 0;
  
	color: inherit;
	font: inherit;
  
	background: none;
	border: none;
  }
  
  .range-controls {
	position: relative;
  
	margin-bottom: 32px;
  }
  
  .range-controls .scale {
	height: 2px;
  
	background: rgba(255, 255, 255, 0.3);
  }
  
  .range-controls .bar {
	width: 80%;
	height: 2px;
  
	background: #ffffff;
  }
  
  .range-toggle {
	position: absolute;
	top: -9px;
	
	width: 4px;
	height: 4px;
  
	background: #ababab;
	border: 8px solid #ffffff;
	border-radius: 50%;
	box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
	cursor: pointer;
  }
  
  .range-toggle:hover {
	background: #1c4f80;
  }
  
  .range-toggle-min {
	left: 0;
  }
  
  .range-toggle-max {
	left: 80%;
  }
  
  .btn-transparent {
	display: block;
	margin: 0 auto;
	padding: 6px 35px;
  
	font-size: 1em;
	line-height: 20px;
	color: #ffffff;
	text-transform: uppercase;
  
	background: transparent;
	border: 2px solid #ffffff;
	border-radius: 2px;
	cursor: pointer;
  }
  
  .btn-transparent:hover {
	color: #000000;
  
	background: #ffffff;
  }
  

.infr-and-house__wrapper {
	align-items: flex-start;
}

.cost-and-btn__wrapper {
	flex-direction: column;
	align-items: flex-end;
}

.hotels {
	width: 100%;
	max-width: 1200px;

}

.sort-types {
	width: 100%;
	max-width: 1056px;
	height: 100%;
	min-height: 89px;
}

.hotels-sort-block {
	margin: 0 auto;
}

.sort-types {
	display: flex;
	align-items: center;
	font-size: 0.857em;
	line-height: 18px;
	font-weight: 400;
}

.sort-types__link {
	color: #b1b1b1;
}

.sort-types__link:hover {
	color: #81b3d2;
}

.sort-types__link:active {
	color: #000000;
}

.sort__found {
 	font-size: 1.5em;
 	line-height: 26px;
 	font-weight: bold;
}

.sort__indent {
	margin-right: 47px;
}

.sort-types__wrapper {
	display: flex;
	justify-content: space-between;
	width: 100%;
	max-width: 353px;
}

.sort-types__list {
	display: flex;
	width: 100%;
	max-width: 238px;
	justify-content: space-between;
}

.sort-wrapper-inner {
	display: flex;
	justify-content: space-between;
}

.up-down-wrapper {
	width: 100%;
	max-width: 538px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.down__link {
	margin-left: 10px;
}

.booking-hotels {
	width: 100%;
	max-width: 1200px;
}

.booking-hotels__list {
	width: 100%;
	max-width: 1200px;
}

.hotels-section-three__list {
	margin: 0 auto;
}

.booking-hotels__wrapper {
	display: flex;
	align-items: center;
}

.booking-hotels__item {
	width: 100%;
	max-width: 1200px;
	display: flex;
	justify-content: space-between;
	padding: 29px 72px;
	border-top: 1px solid #e5e5e5;
}

.booking-hotels__item--border-bottom {
	border-bottom: 1px solid #e5e5e5;
}

.booking-hotels__info {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	max-width: 890px;
	height: 100%;
	min-height: 91px;
}

.item-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	min-height: 91px;
}

.booking-hotels__title {
	font-size: 1.5em;
	line-height: 20px;
	font-weight: bold;
	margin: 0;
	color: #000000;
}

.booking-hotels__title:hover {
	color: #81b3d2;
}

.booking-hotels__title:active {
	color: #cacaca;
}


.description-wrapper {
	display: flex;
	justify-content: space-between;
}

.booking-hotels__type-of-hotel {
	margin: 0;
	font-size: 14px;
	line-height: 14px;
	font-weight: 400;
	color: #333333;
	width: 100%;
	max-width: 110px;
}

.booking-hotels__price {
	margin: 0;
	font-size: 1em;
	line-height: 14px;
	font-weight: 400;
	color: #333333;
	width: 100%;
	max-width: 142px;
}

.booking-hotels__button {
	border: none;
	font-size: 1em;
	line-height: 21px;
	font-weight: bold;
	color: #ffffff;
	text-transform: uppercase;
}

.booking-hotels__button--about {
	background-color: #81b3d2;
	width: 110px;
	height: 27px;
}

.booking-hotels__button--about:hover {
	background-color: #669ec0;
}

.booking-hotels__button--about:active {
	color: #94b9d2;
}

.booking-hotels__button--order {
	background-color: #766357;
	width: 142px;
	height: 27px;
}

.booking-hotels__button--order:hover {
	background-color: #604e43;
}

.booking-hotels__button--order:active {
	color: #928a85;
}

.rating-wrapper {
	height: 100%;
	min-height: 91px;
	width: 100%;
	max-width: 110px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-end;
}

.clip-star {
	background: #81b3d2;
	clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
	display: inline-block;
	height: 17px;
	width: 18px;
	align-self: flex-start;
  }

.clip-star--indent {
	margin-left: 6px;
}

.booking-hotels__rate {
	display: inline-block;
	margin: 0;
	font-size: 1em;
	line-height: 27px;
	font-weight: 400;
	width: 100%;
	max-width: 110px;
	text-align: center;
	align-self: flex-end;
	height: 100%;
	min-height: 30px;
	background-color: #f2f2f2;
}


