/* html {
    background: url("../background-images/sedona-index.jpg") 50% 0 no-repeat;
} */

/* body {
    opacity: 0.5;
} */





.visually-hidden:not(:focus):not(:active) {
    /* input[type="checkbox"].visually-hidden, */
    /* input[type="radio"].visually-hidden { */
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        -webkit-clip-path: inset(100%);
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
    }
html {
    width: 100%;
    /* max-width: 1280px; */
    /* margin: 0 auto; */
}

.body {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;    
    /* height: 100%; */
    font-family: "PT Sans", Arial, sans-serif;
}

.header {
    width: 100%;  
    background-image: url(//img/sedona-welcome-background-image.png);

    /* max-width: 1200px;   */
}

.header-wrapper {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

}

.header-navigation {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    
}

.navigation-list {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    list-style: none;
    /* max-width: 1056px; */
    margin: 0 auto;
    padding: 0;
}

.navigation-list__item {
    flex-grow: 1;
    text-align: center;
}

.navigation-list__item-logo {
    flex-grow: 2;
}

.header-background {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.header-background__image {
    width: 100%;
    /* position: relative; */
    /* max-width: 1200px; */
    margin: 0 auto;
}

.header-background__title {
    width: 100%;
    max-width: 459px;
    margin: 0 auto;
    /* position: absolute; */
    top: 55px;
    left: 370px;
}

.main {
    width: 100%;
}

.main-wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.main__title {
    max-width: 440px;
    margin: 0 auto;
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
}

.main__text {
    max-width: 495px;
    font-size: 14px;
    line-height: 21px;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
}

.features {
    width: 100%;
    max-width: 1200px;
    display: flex;
    margin: 0 auto;
}

.features-wrapper {
    width: 100%;
    max-width: 400px;
    text-align: center;
    background-color: #81b3d2;
}

.features-image {
    width: 100%;
    /* max-width: 800px; */
}


.features-wrapper__title {
    color: #ffffff;
    
}

.features-wrapper__number {
    color: #ffffff;

}

.features-wrapper__text {
    color: #ffffff;

}

.benefits {
    width: 100%;
    max-width: 1200px;
}

.benefits-list {
    width: 100%;
    max-width: 1200px;
    display: flex;
    list-style: none;
    padding: 0;
}

.benefits-list__item {
    max-width: 400px;
}

.booking {
    width: 100%;
    max-width: 1200px;
}

.booking__text {
    text-align: center;
}

.booking__search {
    text-align: center;
}

.order-window {
    text-align: center;
}

.frame-map {
    width: 100%;
    max-width: 1200px;
} 

.frame-map__image {
    width: 100%;
    max-width: 1200px;
}

.footer {
    width: 100%;
}

.footer-wrapper {
    width: 100%;
    max-width: 1200px;
    display: flex;
    margin: 0 auto;
}

/* .main-store {
    margin: 0 auto;
} */

.filters {
    width: 100%;
    max-width: 1200px;
}


.filters__background--image {
    position: absolute;
    z-index: -5;
    height: 100%;
    /* max-height: 217px; */
}

.form {
    width: 100%;
    max-width: 1056px;
    display: flex;
}

.hotels-form {
    margin: 0 auto;
}

.store {
    width: 100%;
    max-width: 1200px;
    background-color: #ffffff;
}

.sort-wrapper {
    width: 100%;
    max-width: 1056px;
    display: flex;
    margin: 0 auto;
}

.hotels {
    width: 100%;
    max-width: 1200px;
}

.hotels-list {
    width: 100%;
    max-width: 1056px;
    padding: 0;
    margin: 0 auto;
}

.hotels-list__item {
    display: flex;
}
