html {
    width: 100%;
}

body {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    font-family: "PT Sans", Arial, sans-serif;
    color: #000000;
    /* box-shadow: 0 0 37px 2px rgba(0, 0, 0, 0.7); */
    position: relative;
    /* hyphens: auto; */

    /* border: 1px solid red; */
}

.visually-hidden:not(:focus):not(:active) {
/* input[type="checkbox"].visually-hidden, */
/* input[type="radio"].visually-hidden { */
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

a {
    text-decoration: none;
    color: #000000;
}




.main-header {
    width: 100%;
    margin: 0 auto;
    border: 1px solid pink;
}

.main-header__section {
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin: 0 auto;
    border: 1px solid green;
}

.main-header__logo {
    width: 240px;
    text-align: center;
    z-index: 3;
}

.main-header__logo img {
    width: 140px;
    height: 71px;
}

.main-header__section__block {
    display: flex;}

.main-header__section__list {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    padding: 0;
    list-style: none;
}

.main-header__section__list li {
    height: 25px;
}

.main-header__section__list li:nth-of-type(1)
{
    text-align: left;
    padding-left: 70px;
    padding-right: 75px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.main-header__section__list li:nth-of-type(2) {
    text-align: left;
    padding-left: 75px;
    padding-right: 75px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.main-header__section__list li:nth-of-type(4) {
    text-align: right;
    padding-left: 73px;
    padding-right: 65px;
    padding-top: 15px;
    padding-bottom: 15px;

}

.main-header__section__list li:nth-of-type(5) {
    text-align: right;
    padding-left: 100px;
    padding-right: 65px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.list__item a {
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
    text-transform: uppercase;
} 


.section__background {
    min-width: 1200px;
    padding: 0;
    position: relative;
}


.background-image {
    min-width: 1200px;
    height: 508px;
}

.image-title {
    position: absolute;
    top: 75px;
    left: 370px;
}


.main-container {
    width: 100%;
    margin: 0 auto;
}

.main-section {
    width: 1200px;
    margin-top: 56px;
    margin: 0 auto;
    padding: 0;
    border: 1px solid blue;
}

.about-sedona {
    width: 576px;
    margin: 0 auto;
    padding-bottom: 26px;
    /* border: 1px solid yellow; */
    /* background-color: rgba(255, 0, 0, 0.7) */
}

.main-section h1 {
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
    margin: 0 auto;
    text-align: center;
    padding: 0;
    box-sizing: border-box;

}

.advantages {
    width: 576px;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto;
    /* border: 1px solid blue; */
}

.advantages-section {
    width: 1200px;
    margin: 0;
    /* border: 1px solid red; */
}

.advantages-section__true-town {
    width: 1200px;
    margin-top: 48px;
    display: flex;
    color: #ffffff;
    background-color: #81b3d2;
    /* border: 1px solid blue; */
}

.true-town {
    text-align: center;
    text-transform: uppercase;
    overflow: auto;
    padding-left: 50px;
    padding-right: 50px;

    /* border: 1px solid yellow; */
}

.true-town h2 {
    text-align: center;
    font-size: 21px;
    line-height: 21px;
    font-weight: bold;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 50px;
}

.true-town p {
    text-align: center;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    margin-top: 20px;

}

.advantages-section__benefits {
    width: 1200px;
    padding-bottom: 70px;
    /* border: 1px solid blue; */
}

.benefits__list1 {
    width: 1200px;
    display: flex;
    /* margin: 0 auto; */
    /* justify-content: space-between; */
    margin: 0;
    padding: 0;
    list-style: none;
}


.benefits__list1 li {
    width: 400px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 60px;
    /* border: 1px solid blue; */
}

.benefits__list__item svg {
    padding-bottom: 8px;
}

.benefits__list__item h2 {
    font-size: 21px;
    line-height: 21px;
    font-weight: bold;
    padding-left: 60px;
    padding-right: 60px;
}

.benefits__list__item p {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    padding-left: 50px;
    padding-right: 50px;
}

.benefits__list2 {
    width: 1200px;
    display: flex;
    /* margin: 0 auto; */
    /* justify-content: space-between; */
    background-color: #eeeeee;
    margin: 0;
    padding: 0;
    list-style: none;
}


.benefits__list2 li {
    width: 400px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 25px;
    padding-left: 20px;
    padding-right: 20px;
    /* border: 1px solid blue; */
}

.advantages-section__evil-bridge {
    display: flex;
    width: 1200px;
    color: #ffffff;
    background-color: #81b3d2;
    /* margin-top: 70px; */
    /* border: 1px solid red; */
}

.evil-bridge {
    text-align: center;
    text-transform: uppercase;
    overflow: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.booking-section {
    width: 1200px;
    margin: 0 auto;
    border: 1px solid red;
}


.booking-section__interest {
    text-align: center;
    text-transform: uppercase;
    max-width: 300px;
    font-size: 30px;
    line-height: 36px;
    font-weight: bold;
    margin: 0 auto;
    padding-top: 70px;
    border: 1px solid blue;
}

.booking-section__search {
    text-align: center;
    text-transform: uppercase;
    max-width: 450px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 45px;
    border: 1px solid blue;
}

.order-window {
    max-width: 568px;
    margin: 0 auto;
    text-align: center;
    padding: 30px 0;
    background-color: #766357;
}

.order-window a{
    color: white;
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
}

.frame-map {
    width: 1200px;
    max-height: 473;
    margin: 0 auto;
    border: 1px solid red;
}

.main-footer {
    width: 100%;
    margin: 0 auto;
    border: 1px solid yellow;
}

.main-footer__section {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    border: 1px solid blue;
}

.main-footer__section p {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
}

.footer-social__links-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    justify-content: space-between;
    width: 150px;
    list-style: none;
    border: 1px solid blue;
}

.footer-social__links-list li {
    padding: 14px 14px;
    background-color: #81b3d2;
    border: 1px solid red;
}

.main-footer__section__developer b{
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    text-transform: uppercase;
}

.modal {
    display: none;
}


.background-image {
    position: absolute;
    z-index: -8;
}

.hotels-container {
    width: 100%;
    margin: 0 auto;
}

.filters {
    width: 1200px;
    margin: 0 auto;
    color: #ffffff;
    text-transform: uppercase;
    display: flex;
    margin-bottom: 40px;
    border: 1px solid red;

}

.filter-form {
    display: flex;
    padding: 25px 50px;

    border: 1px solid blue;
}

.filter-form legend {
    font-size: 16px;
    line-height: 21px;
    font-weight: bold;

}

.filter-form ul {
    list-style: none;
}


.store {
    width: 100%;
    margin: 0 auto;
    text-transform: uppercase;
    background-color: #ffffff;
}


.sort__section {
    width: 100%;
    border: 1px solid red;
}

.store__sort {
    width: 1056px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    /* margin-left: 70px; */
    padding-top: 10px;
    border: 1px solid yellow;
}

.store__sort ul {
    list-style: none;
}

.store__sort p:nth-child(1) {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    border: 1px solid green;
}

.store__sort p:nth-child(2) {
    font-size: 12px;
    line-height: 18px;
    font-weight: bold;
    margin-left: 45px;
    border: 1px solid green;

}


/* .store__sort span {
    padding: 0;
    border: 1px solid green;
} */

.store__sort span,
.sort-list__types a  {
    font-size: 12px;
    line-height: 18px;
    font-weight: bold;
}

.sort-list__types {
    display: flex;
    padding: 0;
    margin-left: 35px;
    border: 1px solid green;
}

.sort-list__types li {
    padding-right: 35px;
}

.sort-list__types li:nth-last-child(1) {
    padding-right: 0;
}

.sort-list__icons {
    display: flex;
    padding: 0;
    margin-left: 500px;
    border: 1px solid green;
}


/* .sort-list__icons li:nth-child(1) { */
    /* padding-left: 15px; */
/* } */

.store__hotels {
    width: 100%;
    margin: 0 auto;
    /* margin-left: 70px; */
    /* padding: 0; */
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
}

.hotels__section {
    width: 1200px;
    margin: 0 auto;
    border: 1px solid blue;
}

.store__hotels ul {
    width: 1056px;

    list-style: none;
    padding: 0;
    margin: 0 auto;
    border: 1px solid green;
}

.store__hotels li {
    display: flex;
    border: 1px solid brown;
}

/* .hotels-list__item img { */
    /* padding-top: 25px; */
/* } */


.item-description {
    margin-left: 25px;
    border: 1px solid rgb(0, 255, 98);
}

.item-description h3 {
    margin: 0;
    border: 1px solid blue;
}

.item-description p {
    /* padding: 0; */
    margin: 0;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
}


.costs {
    display: flex;
    /* margin: 0; */
    border: 1px solid brown;
}

.costs p {
    /* padding: 0; */
    border: 1px solid blue;
}

.buttons {
    display: flex;
    border: 1px solid blue;
}

.buttons button {
    text-transform: uppercase;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
}

.item-rating p {
    text-transform: uppercase;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
}

.item-rating {
    display: flex;
    border: 1px solid blue;
}
